<div class="container mt-5">
  <%= link_to '<- Back', root_path, class: 'btn btn-light'  %>
  <div class="card-product">
    <%= image_tag "https://loremflickr.com/320/240/#{@pet.species}" %>
    <div class="card-product-infos">
      <h2><%= @pet.name %></h2>
      <p><%= @pet.species %></p>
      <p><%= @pet.address %></p>
      <p>Found <%= pluralize(@pet.found_days_ago, 'day') %> ago</p>
    </div>
    <div class="d-flex">
      <%= link_to edit_pet_path(@pet), class: 'btn-light', class: 'card-action card-destroy' do %>
        <i class="fas fa-pencil-alt"></i>
      <% end %>
      <%= link_to pet_path(@pet), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'card-action card-edit' do %>
        <i class="fas fa-times"></i>
      <% end %>
    </div>
  </div>
</div>
